.website-logo {
    width: 50px;
    height: auto;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}